<!DOCTYPE html>
<html lang="en">

<head th:replace ="/ClientStyle/common/head::head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/chosen.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/697d84ba14.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="assets/js/chosen.jquery.min.js"></script>
    <script src="assets/js/main.js"></script>
    <title>Thêm Cây Dược Liệu</title>
</head>

<body>
	<header th:replace="/ClientStyle/common/header::header">
	</header>
    <!-- <div class="header-search">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <img src="assets/image/logo/logo4.png" alt="">
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="search">
                        <form action="" method="get" class="search-box">
                            <input type="text" placeholder="Nhập Tên Cây Dược Liệu Cần Tìm">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                        <div class="search-voice"><a href="#"><i class="fa fa-microphone" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul>
                        <li class="title"> <a href="#">Trang Chủ</a> </li>
                        <li class="title"> <a href="#">Tra Cứu Dược Liệu</a>

                        </li>
                        <li class="title"> <a href="#">Giới Thiệu</a></li>
                        <li class="title"><a href="#">Bài Viết</a></li>
                    </ul>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                    <ul>
                        <li class="title"><a href="#">Đăng Nhập</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <div class="search-space">
        <div class="container">
            <div class="row">
                <h3 class="col-md-12 title d-flex justify-content-center">Góc Tra Cứu</h3>
            </div>
            <div class="row box-search">
                <!-- <div class="container text-left">
                    <div class="row justify-content-center mb-3">
                      <div class="col-md-5">
                        <div class="color-1">
                          <select data-placeholder="Nhập" multiple class="chosen-select" id="multiple-label-example"
                            tabindex="8">
                            <option>Design</option>
                            <option>HTML5</option>
                            
                          </select>
                        </div>
                
                      </div>
                    </div>
                
                
                
                
                  </div> -->
                <form th:action="@{/Tra-Cuu-Cay-Duoc-Lieu}" class="col-md-12">
                    <div class="row tracuutheobangchucai d-flex justify-content-center align-items-center">
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=A)}">A</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=B)}">B</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=C)}">C</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=D)}">D</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=E)}">E</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=F)}">F</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=G)}">G</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=H)}">H</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=I)}">I</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=J)}">J</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=K)}">K</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=L)}">L</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=M)}">M</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=N)}">N</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=O)}">O</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=P)}">P</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=Q)}">Q</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=R)}">R</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=S)}">S</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=T)}">T</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=U)}">U</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=V)}">V</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=W)}">W</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=X)}">X</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=Y)}">Y</a></li>
                        <li class="chucai"><a th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(key=Z)}">Z</a></li>
                    </div>
                    <div class="row form-inline justify-content-center" style="margin: 10px 0;">
                        <input name ="key" type="text" style="width:500px; border:2px solid #006400; height: 35px;" placeholder="Nhập Bệnh Hoặc Công Dụng Cây Dược Liệu Để Tra Cứu">
                        <button style="height:35px; width: 50px; background-color: #006400;margin-left: 5px;" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </form>

              

            </div>
        </div>
    </div>
    <div id="space"></div>
    <div class="herbs-list">
        <div class="container">
            <div class="row">
                <h3 class="col-md-12 title d-flex justify-content-center">Danh Sách Cây Dược Liệu</h3>
            </div>
           <!--  <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row">
	            <th:block  th:each="object:${cayduoclieu}">
		            	<div class="col-md-3" th:if="${object.getHinh().size()==3}">
		                    <div class="box">
		                        <div class="box-img">
		                            <img th:src="@{'/ClientStyle/assets/img/AnhcayDuocLieu/'+${object.getHinh().get(0).getTenhinh()}}" alt="">
		                        </div>
		                        <div class="box-title">
		                            <p><a th:text="${object.getTenduoclieu()}" th:href="@{/TraCuuCayDuocLieu/Chi-Tiet-Cay-Duoc-Lieu ( id=${object.getMaduoclieu()} ) }">Cây Bán Hạ Nam</a></p>
		                        </div>
		                    </div>
		                </div>
	            </th:block>
                <!-- <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-img">
                            <img src="assets/image/Anhcay/herb00539.jpeg" alt="">
                        </div>
                        <div class="box-title">
                            <p><a href="#">Cây Bán Hạ Nam</a></p>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="pagination row d-flex justify-content-start">
              <div class="col-md-12">
            	 <li th:if="${page_present}>1" class="page-item "><a class="page-link active"
                        th:href="@{/Tra-Cuu-Cay-Duoc-Lieu (page=${page_present}-1,key =${key})}">Trước
                    </a></li>
                <!-- 	<th:block th:each="i: ${#numbers.sequence(1,3)}"> -->
                <li th:if="${page_present}<=${count}" class="page-item active"><a class="page-link active"
                        th:text="${page_present}" th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(page=${page_present},key=${key})}"><span
                            class="sr-only">(current)</span> </a></li>
                <li th:if="${page_present}+1<=${count}"><a class="page-link" th:text="${page_present}+1"
                        th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(page=${page_present}+1,key =${key})}"><span
                            class="sr-only">(current)</span> </a></li>
                <li th:if="${page_present}+2<=${count}"><a class="page-link" th:text="${page_present}+2"
                        th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(page=${page_present}+1,,key =${key})}"><span
                            class="sr-only">(current)</span> </a></li>
                <!-- </th:block> -->
                <li th:if="${page_present}<${count}" class="page-item "><a class="page-link active"
                        th:href="@{/Tra-Cuu-Cay-Duoc-Lieu(page=${page_present}+1,key = {key})}">Kế
                        Tiếp </a></li>
             </div>  
            </div>
        </div>
    </div>
    <div id="space"></div>
    <div id="footer" th:replace="/ClientStyle/common/footer::footer">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <p id="footer-content">Nội dung của website này chỉ mang tính chất tham khảo. Vui lòng hỏi ý kiến của bác sĩ</p>
            </div>
        </div>
    </div>
</body>
</html>